<h2>マイページ</h2>
<h3>登録情報</h3>
<%= link_to "編集する", customers_information_edit_path %>
<table>
  <tr>
    <th>氏名</th>
    <td><%= @fullname %></td>
  </tr>
  <tr>
    <th>カナ</th>
    <td><%= @fullname_kana %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= @postal_code %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @address%></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @telephone_number %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @email %></td>
  </tr>
</table>

<h3>配送先</h3>
<%= link_to "一覧を見る", addresses_path %>
<h3>注文履歴</h3>
<%= link_to "一覧を見る", orders_path %>