<div class="container">
  
  <div class="row">
    <h2>管理者ログイン</h2>
  </div>
  
<%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="row">
    <table>
      <tr>
        <th><%= f.label :email,"メールアドレス" %></th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <th><%= f.label :password, "パスワード" %></th>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
    <% if devise_mapping.rememberable? %>
      <tr>
        <th><%= f.check_box :remember_me %></th>
        <td><%= f.label :remember_me %></td>
      </tr>
    </table>
    <% end %>

  <div class="row">
    <div class="actions">
      <%= f.submit "ログイン", class: 'btn btn-success' %>
    </div>
  </div>
<% end %>

</div>
<%= render "admin/shared/links" %>
