<%= form_with url: admin_customers_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "会員検索(仮)" %>
  <%= submit_tag "Search" %>
<% end %>

<h2>会員一覧</h2>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.admin_side_fullname, admin_customer_path(customer) %></td>
      <td><%= customer.email %></td>
      <td><%= customer.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>