<div class="container">
  <div class="row">
    <h1 class="col-md-10 col-9">注文履歴詳細</h1>
  </div>
  <div class="row">
    <div class="col-12 mb-6">
      <table class="table">
        <tr>
          <th>購入者</th>
          <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= l(@order.created_at) %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <span>〒<%= format_postal_code(@order.postal_code) %></span><br>
            <span><%= @order.address %></span><br>
            <span><%= @order.name %></span>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
            <%= form_with(model: @order, url: admin_order_path(@order.id), local: true) do |f| %>
              <div class="form-row">
                <div class="col-12 col-md-6 d-flex">
                  <%= f.select :status, Order.statuses_i18n.map { |key, value| [value, key] }, {include_blank: false}, class: "form-control" %>
                  <%= f.submit "更新" , class: "btn btn-success ml-2" %>
                </div>
              </div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-12 col-lg-9 mb-6">
      <table class="table">
        <thead class="cart-head table-admin">
          <tr class="align-bottom nowrap" scope="col">
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody class="cart-body table-admin">
        <% @order.order_details.each do |order_detail| %>
          <tr>
            <th class="align-middle"><%= order_detail.item.name %></th>
            <td class="align-middle" data-title="単価（税込）"><%= order_detail.price.to_s(:delimited) %></td>
            <td class="align-middle" data-title="数量"><%= order_detail.amount %></td>
            <td class="align-middle" data-title="小計"><%= (order_detail.price * order_detail.amount).to_s(:delimited) %></td>
            <td class="align-middle">
              <%= form_with(model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch, local: true) do |f| %>
                <div class="d-flex">
                  <%= f.select :making_status, OrderDetail.making_statuses_i18n.map { |key, value| [value, key] }, {include_blank: false}, class: "form-control" %>
                  <%= f.submit "更新" , class: "btn btn-success ml-2" %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-lg-3 mb-6">
      <dl class="list-customer-data">
        <dt>商品合計</dt>
        <dd>
          <%= @order.order_details.inject(0) {|sum, order_detail| sum + (order_detail.price * order_detail.amount)}.to_s(:delimited) %>円
        </dd>
        <dt>送料</dt>
        <dd><%= @order.shipping_cost %>円</dd>
        <dt>請求金額合計</dt>
        <dd><%= (@order.total_payment).to_s(:delimited) %>円</dd>
      </dl>
    </div>
  </div>
</div>