<h1>注文履歴詳細</h1>

<table class='table'>
  <tr>
	  <th>購入者</th>
	  <th><%=  %></th>
  </tr>
  <tr>
	  <th>注文日</th>
	  <th><%=  %></th>
  </tr>
  <tr>
    <th>配送先</th>
	  <th><%= @order.postal_code %></th><!--住所を縦並びに変更-->
	  <th><%= @order.address %></th>
	  <th><%= @order.name %></th>
  </tr>
  <tr>
    <th>支払方法</th>
	  <th><%= @order.payment_methods_i18n %></th><!--enumでの記述に変更-->
  </tr>
  <tr>
    <th>注文ステータス</th>
	  <th><%= @order.status %></th><!--enumでの記述に変更-->
	  <th><%=  %></th><!--更新ボタン-->
  </tr>
</table>


<table class="order-index">
   <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
  <% order.order_details.each do |order_detail| %>
  <tr align="center">
    <td><%= link_to (order) do %>
    <%= order.created_at %>
    <% end %>
    </td>

    <td><%= order.name %></td>
    <td><%= order_detail.amount %></td>
    <td><%= order.status %></td>
  <% end %>
  <% end %>
  </tr>
  </tbody>
</table>
