<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="public-common-heading" data-text-en="New Address">新規配送先を登録</h2>
      <%= form_with model: @address, url: addresses_path, method: :post do |form| %>
        <%= render "public/addresses/form", form: form, sublmit_value: "新規登録" %>
      <% end %>
    </div>
    <div class="col-lg-6">
      <h2 class="public-common-heading" data-text-en="Address">配送先一覧</h2>
      <% if @addresses.present? %>
        <% @addresses.each do |address| %>
          <div class="card shadow-sm mb-4">
            <div class="card-body">
              <dl class="list-customer-data m-0">
                <dt>郵便番号</dt>
                <dd>〒<%= format_postal_code(address.postal_code) %></dd>
                <dt>住所</dt>
                <dd><%= address.address %></dd>
                <dt>宛名</dt>
                <dd><%= address.name %></dd>
              </dl>
            </div>
            <div class="card-footer text-right">
              <%= link_to "削除する", address_path(address), method: :delete, class: "btn btn-danger btn-sm" %>
              <%= link_to "編集する", edit_address_path(address), class: "btn btn-success btn-sm" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="mb-4">現在登録中の配送先はありません。</p>
      <% end %>
      <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
          <%= link_to "会員登録情報", customers_my_page_path, class: "btn btn-primary btn-lg btn-block" %>
        </div>
        <div class="col-md-6 mb-4">
          <%= link_to "注文履歴", orders_path, class: "btn btn-primary btn-lg btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>