<h1>Public::Orders#show</h1>
<p>Find me in app/views/public/orders/show.html.erb</p>

<div class="container">
  <h2>注文履歴詳細</h2>
  <div class="row">
    <div class="col">
      <h3>注文情報</h3>
      <dl>
        <dt>注文日</dt>
        <dd><%= @order.created_at.strftime("%Y/%-m/%-d") %></dd>
        <dt>配送先</dt>
        <dd>
          <p>〒<%= @order.postal_code %></p>
          <p><%= @order.address %></p>
          <p><%= @order.name %>様</p>
        </dd>
        <dt>支払方法</dt>
        <dd><%= @order.payment_method %></dd>
        <dt>ステータス</dt>
        <dd><%= @order.status %></dd>
      </dl>
    </div>
    <div class="col">
      <h3>請求情報</h3>
      <dl>
        <dt>商品合計</dt>
        <dd><%= @order.order_details.inject(0) {|sum, order_detail| sum + (order_detail.price * order_detail.amount)}.to_s(:delimited) %></dd>
        <dt>配送料</dt>
        <dd><%= @order.shipping_cost.to_s(:delimited) %></dd>
        <dt>ご請求額</dt>
        <dd><%= @order.total_payment.to_s(:delimited) %></dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div>
      <h3>注文内容</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">商品</th>
            <th scope="col">単価（税込）</th>
            <th scope="col">個数</th>
            <th scope="col">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.price.to_s(:delimited) %></td>
              <td><%= order_detail.amount %></td>
              <td>
                <%= (order_detail.price * order_detail.amount).to_s(:delimited) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>