<h2>ログイン</h2>

<p>会員の方はこちらからログイン</p>
<%= form_with model: @customer, url: customer_session_path do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
