<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div>
        <h2>ジャンル検索</h2>
        <%= render "public/items/genre_search", items: @items, genres: @genres %>
      </div>
      <div class="mt-4">
        <h2>ワード検索</h2>
        <%= render "public/items/word_search" %>
      </div>
    </div>
    <div class="col-9">
      <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 1rem;">
      <div class="col">
        <%= image_tag @item.image, class: "w-100" %>
      </div>
      <div class="col">
        <h2><%= @item.name %></h2>
        <p><%= @item.introduction %></p>
        <p>￥<%= price_include_tax(@item.price).to_s(:delimited) %><small>（税込）</small></p>

        <%= form_with(model: @new_cart_item, url: cart_items_path, method: :post, local: true) do |form| %>
          <div class="form-group d-flex">
            <%= form.hidden_field :item_id, value: @item.id %>
            <%= form.number_field :amount, step: 1, min: 1, value: 1, class: "form-control" %>
            <%= form.submit "カートに入れる", class: "ml-2 btn btn-success" %>
          </div>
        <% end %>
     </div>
    </div>
  </div>
</div>