<div class="container">
  <div class="row">
    <div class="col-lg-3 order-lg-0 order-1">
      <%= render "public/items/genre_search", items: @items, genres: @genres %>
      <%#= render "public/items/word_search" %>
    </div>
    <div class="col-lg-9">
      <section class="container-fluid">
        <h2 class="public-common-heading" data-text-en="Item Details">商品詳細</h2>
        <div class="row">
          <%= image_tag @item.image, class: "col-md-6 mb-4" %>
          <div class="col-md-6">
            <div class="mb-4">
              <h3 class="h4"><%= @item.name %></h3>
              <p><%= @item.introduction %></p>
              <p class="h2 text-price-include-tax">
                <%= price_include_tax(@item.price).to_s(:delimited) %>
              </p>
            </div>
            <div class="mb-4">
              <%= form_with(model: @new_cart_item, url: cart_items_path, method: :post, local: true) do |form| %>
                <div class="form-row justify-content-end">
                  <%= form.hidden_field :item_id, value: @item.id %>
                  <div class="col-3">
                    <%= form.number_field :amount, step: 1, min: 1, value: 1, class: "form-control form-control-lg" %>
                  </div>
                  <div class="col-auto">
                    <%= form.submit "カートに入れる", class: "ml-2 btn btn-success btn-lg" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>